
/node_modules
/npm-debug.log
/yarn-error.log
/yarn-debug.log
/.pnp
.pnp.js
package-lock.json
yarn.lock

/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.idea/
*.iml
*.iws
*.ipr
.idea_modules/

.classpath
.project
.settings/
.metadata/

*.sublime-project
*.sublime-workspace


.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

*~
.directory
.Trash-*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/src/environments/*.local.ts
/src/environments/environment.prod.ts
/src/environments/environment.ts

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/coverage
/.nyc_output
/reports

/e2e/*.js
/e2e/*.map

.DS_Store
Thumbs.db

/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings
